<!DOCTYPE html>
<html lang="en">
<head>
  <title>Records</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>

  .record {
    margin-top: 2em;
  }

  .debit-variation {
    padding-right: 30px;
  }

  .credit-variation {
    padding-left: 30px;
  }

  .account {
    float: left;
  }

  .amount {
    float: right;
  }

  .clear {
    clear: both;
  }
  </style>
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
