{% load record_utils %}

<div class="record">
  <span><strong>{{ record.date }}</strong></span>
  {% for debit_variation in record.variations_by_type.debit %}
  <div class="debit-variation">
    <div class="account">
      <a href="{% url 'account' debit_variation.account.pk %}">{{ debit_variation.account.name }}</a>
    </div>
    <div class="amount">{{ debit_variation.amount|absolute }}</div>
    <div class="clear"></div>
  </div>
  {% endfor %}

  {% for credit_variation in record.variations_by_type.credit %}
  <div class="credit-variation">
    <div class="account">
      <a href="{% url 'account' credit_variation.account.pk %}">{{ credit_variation.account.name }}</a>
    </div>
    <div class="amount">{{ credit_variation.amount|absolute }}</div>
    <div class="clear"></div>
  </div>
  {% endfor %}
</div>
