{% extends "base.html" %}

{% block content %}

{% include "ledger/nav.html" with active="accounts" %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6">
    <h2>Destination Accounts</h2>
    {% if destination_accounts.exists %}
      {% include 'ledger/accounts_tree.html' with accounts=destination_accounts %}
    {% else %}
      <p>There are no destination accounts.</p>
    {% endif %}

    <h2>Origin Accounts</h2>

    {% if destination_accounts.exists %}
      {% include 'ledger/accounts_tree.html' with accounts=origin_accounts %}
    {% else %}
      <p>There are no origin accounts.</p>
    {% endif %}

      <a href="{% url 'account_create' ledger.pk %}" class="btn btn-primary">New</a>
    </div>
  </div>
</div>
{% endblock %}
