<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'ledgers' %}">{{ ledger.name }}</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item {% if active == 'records' %}active{% endif %}">
        <a class="nav-link" href="{% url 'records' ledger.pk %}">Records</a>
      </li>
      <li class="nav-item {% if active == 'accounts' %}active{% endif %}">
        <a class="nav-link" href="{% url 'accounts' ledger.pk %}">Accounts</a>
      </li>
    </ul>
  </div>
</nav>
