{% load record_utils %}

<tr class="table-active" scope="col">
  <td class="p-2" colspan="4" scope="row">
    <a href="{% url 'record_detail' ledger.pk record.pk %}">{{ record.date }}</a>
    {% if record.is_balanced %}
      <span class="float-right badge badge-success">ok</span>
    {% else %}
      <span class="float-right badge badge-danger">unbalanced</span>
    {% endif %}
    <em class="mr-3 float-right">{{ record.description }}</em>
  </td>
</tr>
{% for debit_variation in record.variations_by_type.debit %}
  <tr>
    <td scope="row">
      <a title="{{ debit_variation.account.full_name }}" href="{% url 'account' ledger.pk debit_variation.account.pk %}">
        {{ debit_variation.account.name }}
      </a>
    </td>
    <td>
      {{ debit_variation.amount|absolute }}
    </td>
    <td>
    </td>
    <td>
      <form method="POST" action="{% url 'variation_delete' ledger.pk record.pk debit_variation.pk %}">
        {% csrf_token %}
        <button class="btn btn-sm btn-danger" type="submit">Delete</button>
      </form>
    </td>
  </tr>
{% endfor %}
{% for credit_variation in record.variations_by_type.credit %}
  <tr>
    <td scope="row">
      <a class="ml-5" title="{{ credit_variation.account.full_name }}" href="{% url 'account' ledger.pk credit_variation.account.pk %}">
        {{ credit_variation.account.name }}
      </a>
    </td>
    <td>
    </td>
    <td>
      {{ credit_variation.amount|absolute }}
    </td>
    <td>
      <form method="POST" action="{% url 'variation_delete' ledger.pk record.pk credit_variation.pk %}">
        {% csrf_token %}
        <button class="btn btn-sm btn-danger" type="submit">Delete</button>
      </form>
    </td>
  </tr>
{% endfor %}
