{% extends "base.html" %}


{% block content %}

{% include "ledger/nav.html" with active="records" %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      {% include "ledger/record_single.html" with record=record %}
    </div>
  </div>
  <div class="row justify-content-center">
    <div id="add_variation_form_wrapper"></div>
  </div>
  <div class="row justify-content-center">
    <button id="add_variation_btn" class="btn btn-primary">Add variation</button>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
let addVariationFormUrl = "{% url 'variation_create' ledger.pk record.pk %}";

function mountForm(text, wrapperId) {
    let formWrapper = document.getElementById(wrapperId);
    formWrapper.innerHTML = text;
}

document.addEventListener("DOMContentLoaded", function(event) {
    let createBtn = document.getElementById("add_variation_btn");
    createBtn.onclick = function (event) {
        fetch(addVariationFormUrl)
        .then(function(response) {
            console.log(response);
            return response.text();
        })
        .then(function(text) {
            mountForm(text, "add_variation_form_wrapper");
            createBtn.classList.add("invisible");
        });
    };

});
</script>
{% endblock javascript %}
