{% extends "base.html" %}

{% block content %}

{% include "ledger/nav.html" %}

<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-6">
      <form method="POST">
        {% for field in form %}
          <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
          </div>
        {% endfor %}
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Save</button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
